@model MVC_Team_Project.View_Models.MedicalRecordViewModel

<div>
    <form asp-controller="MedicalRecord" asp-action="@(ViewData["Action"])" method="post" class="container mt-5">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="DoctorId" />

        <div class="form-group">
            <label asp-for="PatientId">Patient</label>
            <select asp-for="PatientId" class="form-control" asp-items="@(new SelectList(ViewBag.Patients, "Id", "Name"))"></select>
            <span asp-validation-for="PatientId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RecordType"></label>
            <input asp-for="RecordType" class="form-control" />
            <span asp-validation-for="RecordType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Prescription"></label>
            <textarea asp-for="Prescription" class="form-control"></textarea>
            <span asp-validation-for="Prescription" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TestResults"></label>
            <textarea asp-for="TestResults" class="form-control"></textarea>
            <span asp-validation-for="TestResults" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Notes"></label>
            <textarea asp-for="Notes" class="form-control"></textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <input asp-for="IsConfidential" class="form-check-input" />
            <label asp-for="IsConfidential" class="form-check-label"></label>
        </div>


        <div class="form-group">
            <label asp-for="Diagnosis"></label>
            <input asp-for="Diagnosis" class="form-control" />
            <span asp-validation-for="Diagnosis" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Treatment"></label>
            <textarea asp-for="Treatment" class="form-control"></textarea>
            <span asp-validation-for="Treatment" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RecordDate"></label>
            <input asp-for="RecordDate" class="form-control" type="date" />
            <span asp-validation-for="RecordDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-outline-primary">Save</button>
        <a asp-action="MyPatientsRecords" class="btn btn-secondary">Cancel</a>
    </form>

</div>