
@{
    ViewData["Title"] = "addPayment";
    Layout = "_DashbordLayout";
}

@model Payment

<style>
    .field-validation-error:empty {
        display: none;
    }


</style>



<form asp-action="SubmitAddPayment" method="post" class="container mt-5">
    <div class="form-group">
        <label  asp-for="DoctorId" class="form-label"></label>
        <input  asp-for="DoctorId" class="form-control  fs-4  bg-light" />

        <div class="my-2">
            <span class="alert-danger"  asp-validation-for="DoctorId"></span>
        </div>

    </div>

    <div class="form-group">
        <label asp-for="PatientId" class="form-label"></label>
        <input asp-for="PatientId" class="form-control  fs-4  bg-light" />


        <div class="my-2">
            <span class="alert-danger" asp-validation-for="PatientId"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AppointmentId" class="form-label"></label>
        <input asp-for="AppointmentId" class="form-control   fs-4  bg-light" />

        <div class="my-2">
            <span class="alert-danger" asp-validation-for="AppointmentId"></span>
        </div>

    </div>
    
    <div class="form-group">

        <label asp-for="Amount" class="form-label"></label>
        <input asp-for="Amount" class="form-control fs-4  bg-light" />

        <div class="my-2">
            <span class=" alert-danger" asp-validation-for="Amount"></span>
        </div>
    </div>
    
    
    <div class="form-group">
        <label asp-for="PaymentMethod" class="form-label"></label>
        <input asp-for="PaymentMethod" class="form-control  fs-4  bg-light" />

        <div class="my-2">
            <span class="alert-danger" asp-validation-for="PaymentMethod"></span>
        </div>

    </div>
    
    <div class="form-group">
        <label asp-for="PaymentStatus" class="form-label"></label>
        <input asp-for="PaymentStatus" class="form-control fs-4   bg-light" />

        <div class="my-2">
            <span class=" alert-danger" asp-validation-for="PaymentStatus"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="PaymentDate" class="form-label"></label>
        <input asp-for="PaymentDate" class="form-control fs-4   bg-light" />

        <div class="my-2  ">
            <span class=" alert-danger" asp-validation-for="PaymentDate"></span>
        </div>
    </div>
   
    <div class="form-group">
        <label asp-for="DueDate" class="form-label"></label>
        <input asp-for="DueDate" class="form-control  fs-4  bg-light" />

        <div class="my-2  ">
            <span class="alert-danger" asp-validation-for="DueDate"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PaidDate" class="form-label"></label>
        <input asp-for="PaidDate" class="form-control  fs-4  bg-light" />

        <div class="my-2">
            <span class="alert-danger" asp-validation-for="PaidDate"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Notes" class="form-label"></label>
        <input asp-for="Notes" class="form-control  fs-4   bg-light" />

        <div class="my-2">
            <span class=" alert-danger" asp-validation-for="Notes"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary p-2">Save</button>
    <a asp-action="Index" class="btn btn-secondary p-2">Cancel</a>
</form>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

