
@{
    ViewData["Title"] = "addPayment";
    Layout = "_DashbordLayout";
}

@model Payment

<style>
    .field-validation-error:empty {
        display: none;
    }

</style>



<form asp-action="SubmitAddPayment" method="post" class="container mt-5">
    <div class="form-group">
        <label asp-for="DoctorId" class="form-label"></label>
        <input asp-for="DoctorId" class="form-control  fs-4  bg-light" />

        <div class="my-5">
            <span class="alert alert-danger" asp-validation-for="DoctorId"></span>
        </div>

    </div>

    <div class="form-group">
        <label asp-for="PatientId" class="form-label"></label>
        <input asp-for="PatientId" class="form-control  fs-4  bg-light" />


        <div class="my-5">
            <span class="alert alert-danger" asp-validation-for="PatientId"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AppointmentId" class="form-label"></label>
        <input asp-for="AppointmentId" class="form-control   fs-4  bg-light" />

        <div class="my-5">
            <span class=" alert alert-danger" asp-validation-for="AppointmentId"></span>
        </div>

    </div>
    
    <div class="form-group">

        <label asp-for="Amount" class="form-label"></label>
        <input asp-for="Amount" class="form-control fs-4  bg-light" />

        <div class="my-5">
            <span class="alert alert-danger" asp-validation-for="Amount"></span>
        </div>
    </div>
    
    
    <div class="form-group">
        <label asp-for="PaymentMethod" class="form-label"></label>
        <input asp-for="PaymentMethod" class="form-control  fs-4  bg-light" />

        <div class="my-5">
            <span class="alert alert-danger" asp-validation-for="PaymentMethod"></span>
        </div>

    </div>
    
    <div class="form-group">
        <label asp-for="PaymentStatus" class="form-label"></label>
        <input asp-for="PaymentStatus" class="form-control fs-4   bg-light" />

        <div class="my-5">
            <span class="alert alert-danger" asp-validation-for="PaymentStatus"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="PaymentDate" class="form-label"></label>
        <input asp-for="PaymentDate" class="form-control fs-4   bg-light" />

        <div class="my-5  col-6 ">
            <span class=" alert alert-danger" asp-validation-for="PaymentDate"></span>
        </div>
    </div>
   
    <div class="form-group">
        <label asp-for="DueDate" class="form-label"></label>
        <input asp-for="DueDate" class="form-control  fs-4  bg-light" />

        <div class="my-5  col-6 ">
            <span class="alert alert-danger" asp-validation-for="DueDate"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PaidDate" class="form-label"></label>
        <input asp-for="PaidDate" class="form-control  fs-4  bg-light" />

        <div class="my-5">
            <span class=" alert alert-danger" asp-validation-for="PaidDate"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Notes" class="form-label"></label>
        <input asp-for="Notes" class="form-control  fs-4   bg-light" />

        <div class="my-5">
            <span class="alert alert-danger" asp-validation-for="Notes"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

















@* <br />

<h2 class="text-center">Add New Course</h2>

<br />



<div class="d-flex justify-content-center  m-auto  "> *@




    @* <form asp-action="SubmitAddPayment" asp-controller="Payment" method="" class="fs-3  shadow-lg bg-gradient p-5 w-75 row"> *@

        @* <div class="mb-3"> *@


          @*   <label asp-for="Id" class="form-label"></label>

            <input asp-for="id" class="form-control" />


            <div class="my-3">

                <span class="alert-danger" asp-validation-for="id"></span>
            </div> *@


        @* </div> *@



      @*   <div class="mb-3 col-6 ">
            <label asp-for="DoctorId" class="form-label"></label>
            <input asp-for="DoctorId" class="form-control  fs-4  bg-light" />

            <div class="my-5">
                <span class="alert alert-danger" asp-validation-for="DoctorId"></span>
            </div>


        </div>


        <div class="mb-3 col-6 ">
            <label asp-for="PatientId" class="form-label"></label>
            <input asp-for="PatientId" class="form-control  fs-4  bg-light" />


            <div class="my-5">
                <span class="alert alert-danger" asp-validation-for="PatientId"></span>
            </div>

        </div>

        <div class="mb-3 col-6 ">

            <label asp-for="AppointmentId" class="form-label"></label>
            <input asp-for="AppointmentId" class="form-control   fs-4  bg-light" />

            <div class="my-5">
                <span class=" alert alert-danger" asp-validation-for="AppointmentId"></span>
            </div>


        </div>
        <div class="mb-3 col-6 ">

            <label asp-for="Amount" class="form-label"></label>
            <input asp-for="Amount" class="form-control fs-4  bg-light" />

            <div class="my-5">
                <span class="alert alert-danger" asp-validation-for="Amount"></span>
            </div>


        </div>
        <div class="mb-3 col-6 ">

            <label asp-for="PaymentMethod" class="form-label"></label>
            <input asp-for="PaymentMethod" class="form-control  fs-4  bg-light" />

            <div class="my-5">
                <span class="alert alert-danger" asp-validation-for="PaymentMethod"></span>
            </div>


        </div>
        <div class="mb-3 col-6 ">

            <label asp-for="PaymentStatus" class="form-label"></label>
            <input asp-for="PaymentStatus" class="form-control fs-4   bg-light" />

            <div class="my-5">
                <span class="alert alert-danger" asp-validation-for="PaymentStatus"></span>
            </div>


        </div>
        <div class="mb-3  col-6 ">

            <label asp-for="PaymentDate" class="form-label"></label>
            <input asp-for="PaymentDate" class="form-control fs-4   bg-light" />

            <div class="my-5  col-6 ">
                <span class=" alert alert-danger" asp-validation-for="PaymentDate"></span>
            </div>


        </div>
        <div class="mb-3   col-6 ">

            <label asp-for="DueDate" class="form-label"></label>
            <input asp-for="DueDate" class="form-control  fs-4  bg-light" />

            <div class="my-5  col-6 ">
                <span class="alert alert-danger" asp-validation-for="DueDate"></span>
            </div>


        </div>
        <div class="mb-3  col-6 ">

            <label asp-for="PaidDate" class="form-label"></label>
            <input asp-for="PaidDate" class="form-control  fs-4  bg-light" />

            <div class="my-5">
                <span class=" alert alert-danger" asp-validation-for="PaidDate"></span>
            </div>


        </div>
        <div class="mb-3   col-6 ">

            <label asp-for="Notes" class="form-label"></label>
            <input asp-for="Notes" class="form-control  fs-4   bg-light" />

            <div class="my-5">
                <span class="alert alert-danger" asp-validation-for="Notes"></span>
            </div>


        </div>


        <div class="mb-3  "> *@

            @* <label asp-for="deptId" class="form-label"></label>




            <select asp-for="deptId" asp-items="selectListItems" class="form-control">

                <option selected disabled value="">-- select Course --</option>

            </select>


            <div class="my-3">
                <span class="alert-danger" asp-validation-for="deptId"></span>
            </div>



            <br /> *@

@* 
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark me-5  shadow-lg fs-4  w-25 p-3">Submit</button>
                <button  asp-controller="Payment" asp-action="Index"  class="btn btn-outline-dark  shadow-lg fs-4  w-25 p-3">Back to All Payments</button>
            </div>


    </form>


</div> *@



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

