@model MVC_Team_Project.Models.Specialty

<form asp-action="@(ViewData["Action"])" method="post" class="container mt-5">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="IsActive"></label>
        <select asp-for="IsActive" class="form-control">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>

    <button type="submit" class="btn btn-outline-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
